server:
  port: 9000
  servlet:
    context-path:

logging:
  level:
    edu.tamu.iiif: INFO
    org.springframework: INFO
  file:
    name: /var/logs/iiif/ir-iiif-service.log

# to enable messaging, include profile weaver-messaging and update activemq broker-url, username and password

spring:
  activemq:
    broker-url: tcp://localhost:61616
    user: username
    password: password
  redis:
    host: localhost
    port: 6379
  profiles:
    active: production
    include: dspace, fedora

messaging:
  channels:
    cap: cap

iiif:
  admins:
    -
      username: admin
      password: abc123
  resolver:
    # redis or remote
    type: redis
    url: http://localhost:9000/entity
    credentials:
      username: admin
      password: admin
  service:
    url: http://localhost:${server.port}${server.servlet.context-path}
    connection:
      timeout: 1200000
      timeToLive: 1200000
      request.timeout: 600000
    socket.timeout: 1800000
  image.server.url: http://localhost:8182/iiif/2
  logo.url: https://library.tamu.edu/assets/images/tamu-logos/TAM-PrimaryMarkB.png
  dspace:
    label-predicates:
    - "http://purl.org/dc/elements/1.1/title"
    - "http://purl.org/dc/terms/title"
    - "http://www.w3.org/2000/01/rdf-schema#label"
    - "http://purl.org/dc/elements/1.1/identifier"
    description-predicates:
    - "http://purl.org/dc/terms/abstract"
    - "http://purl.org/dc/terms/description"
    - "http://purl.org/dc/elements/1.1/description"
    attribution-predicates:
    - "http://purl.org/dc/elements/1.1/creator"
    - "http://purl.org/dc/terms/creator"
    - "http://purl.org/dc/elements/1.1/contributor"
    - "http://purl.org/dc/terms/contributor"
    - "http://purl.org/dc/elements/1.1/publisher"
    - "http://purl.org/dc/terms/publisher"
    - "http://purl.org/dc/elements/1.1/rights"
    - "http://purl.org/dc/terms/rightsHolder"
    license-precedence:
    - "http://purl.org/dc/terms/license"
    metadata-prefixes:
    - "http://purl.org/dc/elements/1.1/"
    - "http://purl.org/dc/terms/"
    metadata-exclusion:
    - "http://purl.org/dc/terms/description"
    - "http://purl.org/dc/elements/1.1/description"
    url: http://localhost:8080
    identifier: dspace
    webapp: xmlui
    context-as-metadata: true
  fedora:
    label-predicates:
    - "http://purl.org/dc/elements/1.1/title"
    - "http://purl.org/dc/terms/title"
    - "http://www.w3.org/2000/01/rdf-schema#label"
    - "http://purl.org/dc/elements/1.1/identifier"
    description-predicates:
    - "http://purl.org/dc/terms/abstract"
    - "http://purl.org/dc/terms/description"
    - "http://purl.org/dc/elements/1.1/description"
    attribution-predicates:
    - "http://purl.org/dc/elements/1.1/creator"
    - "http://purl.org/dc/terms/creator"
    - "http://purl.org/dc/elements/1.1/contributor"
    - "http://purl.org/dc/terms/contributor"
    - "http://purl.org/dc/elements/1.1/publisher"
    - "http://purl.org/dc/terms/publisher"
    - "http://purl.org/dc/elements/1.1/rights"
    - "http://purl.org/dc/terms/rightsHolder"
    license-precedence:
    - "http://purl.org/dc/terms/license"
    metadata-prefixes:
    - "http://purl.org/dc/elements/1.1/"
    - "http://purl.org/dc/terms/"
    metadata-exclusion:
    - "http://purl.org/dc/terms/description"
    - "http://purl.org/dc/elements/1.1/description"
    url: http://localhost:9000/fcrepo/rest
    identifier: fedora
    context-as-metadata: true
